@font-face {
  font-family: "Trebuchet MS";
  font-weight: 400;
  src: url("../fonts/TrebuchetMSRegular.ttf")

}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: 700;
  src: url("../fonts/TrebuchetMSBold.ttf")

}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
}
