@font-face {
  font-family: "Trebuchet MS";
  font-weight: 400;
  src: url("../fonts/TrebuchetMSRegular.ttf")

}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: 700;
  src: url("../fonts/TrebuchetMSBold.ttf")

}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #2C3E50;
  width: 100%;
  margin:0;
  padding: 0;


}
main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.background-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 70.67%);
}

.button {
  width: 196px;
  height: 48px;
  border: none;
  background: #00AEC7;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.button_active {
  font-weight: 400;
  background: #FFFFFF;
  border: 1px dashed #00AEC7;
  color: #00AEC7;
  box-sizing: border-box;
  border-radius: 20px;
}

.card {
  width: 290px;
  position: relative;
  height: 416px;
  background: #FFFFFF;
  border: 1px solid rgba(136, 140, 140, 0.4);
  box-sizing: border-box;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  padding: 2rem;
  padding-top: 6rem;
}

.card_active {
  width: 290px;
  height: 416px;
  color: white;
  border: transparent;
  box-sizing: border-box;
  background: #00AEC7;
  box-shadow: 0px 4px 7px rgba(0, 58, 64, 0.2);
  border-radius: 30px;
}

.icon {
  width: 65px;
  height: 65px;
  background-color: black;


}
.icon_position {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.hat {
  -webkit-mask-image: url("../img/icons/HatIcon.svg");
  width: 57px;
  height: 60px;

}

.computer {
  -webkit-mask-image: url("../img/icons/ComputerIcon.svg");
  width: 59px;
  height: 59px;

}
.pingpong {
  -webkit-mask-image: url("../img/icons/PingPongIcon.svg");
  width: 49px;
  height: 61px;

}
.tooth {
  -webkit-mask-image: url("../img/icons/ToothIcon.svg");
  width: 43px;
  height: 53px;

}

.icon_active {
  background: white;
}

.review-image {
  position: relative;
  float: right;
}

.review-fon {
  position: absolute;
  top:20px;
  left:0;
  z-index: -1;
}

.review-foto {
  position: absolute;
  top:-15px;
  left:20px;
  z-index: 0;
}


.company {
  padding: 5rem;
  width: 30%;
}

.company__logo {
  width: 100%;
}

.logo {
  width: 80%;
/*  width: 325px;
  height: 102px;*/
}
.link-block {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 10px rgba(0, 58, 64, 0.2);
  border-radius: 30px;
  padding: 1rem 7rem;
}

.link-block_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #2C3E50;
  text-decoration: none;

}

.link:hover {
  color: #00AEC7;
}

.paragraph {
  text-align: start;
}

.h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.span {
  color: #2DB5D3;

}

.company-about {
  width: 50%;
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.company-about-float {
  float:right;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;

}

.link-block_position {
  z-index: 10;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.second-block {
  position: relative;
  padding-top: 5rem;
  padding-left: 5rem;
}

.background-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.swiper {
  width: 100%;
  height: 100%;
}

.border {
  border-radius: 20px;
  width: 100%;
}

.review-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2C3E50;

}

.my_button_prev {
  margin-top: 20px;
  position: absolute;
 bottom:0;
  left:3rem;
  width: 25px;
  height: 25px;

}

.my_button_next {
  margin-top: 20px;
  position: absolute;
  bottom:0;
  left:6rem;
  width: 25px;
  height: 25px;
}


.review_author_position {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.4px;
  color: #000000;
  padding-left: 40px;

}


.review_author {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  color: #000000;
  padding-left: 40px;

}


/*.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

 !* !* Center slide text vertically *!
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*!
}*/


.relative {
  margin-top:3rem;
  height: 100%;
  position: relative;
}

.arrow_next {
  background-color: black;
  background-image: url("../img/icons/ArrowRight.svg");
}

.arrow-transform {
  transform: scale(-1, 1);

}

.swiper-button {
  background-color: transparent;
  border:none;
  align-self: center;


}

.flex {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  width: 100%;

}

.center {
  align-self: start;
  text-align: center;
  width: 100px!important;
  align-items: center;
  margin-top: 8px;
}


.swiper-button-prev:after,
.swiper-button-next:after {
  content: none!important;
}

.swiper-button-prev,
.swiper-button-next {
  position: static!important;
  align-items: center;
  align-self: center;
  margin-top: 0px;
}

.button-flex {
  display: flex;
  gap: 1rem;
  position: absolute;
  top:300px;
  left: 45px;
}

@media (max-width: 767px) {
  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }
  .company {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .link-block {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .link-block_flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .link {
    font-size: 14px;
    line-height: 20px;

  }
  .link-block_position {
    z-index: 10;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .background {
    width: 100%;
    position: static;
  }
  .background-1 {
    width: 100%;
    position: static;
  }
  .second-block {
    position: relative;
    padding-top: 2rem;
    padding-left: 0;
  }
  .company-about-float {
    width: 100%;
    float: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .h2 {
    font-size: 22px;
    line-height: 31px;
    .span {
      font-size: 22px;
      line-height: 31px;
    }
  }
  .cards-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:1rem;
    .card {
      width: 100%;
      position: relative;
      text-align: start;

    }
  }
  .block {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: start;
    margin-top:2rem;
    width: 100%;
  }
  .review-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
    line-height: 21px;
    box-sizing: border-box;
    img {
      width: 95%;
    }

  }
  .button-flex {
    display: flex;
    width: 100%;
    gap: 1rem;
    position: static;
    justify-content: center;
  }
}

