@font-face {
  font-family: "Trebuchet MS";
  font-weight: 400;
  src: url("../fonts/TrebuchetMSRegular.ttf")

}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: 700;
  src: url("../fonts/TrebuchetMSBold.ttf")

}

body {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.button {
  width: 196px;
  height: 48px;
  border: none;
  background: #00AEC7;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.button_active {
  font-weight: 400;
  background: #FFFFFF;
  border: 1px dashed #00AEC7;
  color: #00AEC7;
  box-sizing: border-box;
  border-radius: 20px;
}

.card {
  width: 290px;
  position: relative;
  height: 416px;
  background: #FFFFFF;
  border: 1px solid rgba(136, 140, 140, 0.4);
  box-sizing: border-box;
  border-radius: 30px;
  color: black;
  cursor: pointer;
}

.card_active {
  width: 290px;
  height: 416px;
  color: white;
  border: transparent;
  box-sizing: border-box;
  background: #00AEC7;
  box-shadow: 0px 4px 7px rgba(0, 58, 64, 0.2);
  border-radius: 30px;
}

.icon {
  width: 65px;
  height: 65px;
  background-color: black;


}
.icon_position {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.hat {
  -webkit-mask-image: url("../img/icons/HatIcon.svg");
  width: 57px;
  height: 60px;

}

.computer {
  -webkit-mask-image: url("../img/icons/ComputerIcon.svg");
  width: 59px;
  height: 59px;

}
.pingpong {
  -webkit-mask-image: url("../img/icons/PingPongIcon.svg");
  width: 49px;
  height: 61px;

}
.tooth {
  -webkit-mask-image: url("../img/icons/ToothIcon.svg");
  width: 43px;
  height: 53px;

}

.icon_active {
  background: white;
}
